.top_margin {
    padding-top: 2rem;
    padding-bottom: 1rem;
}

.text_container {
    color: black;
    background-color: #e3e3e3;
    min-height: 100vh;
}

.top_text {
    color: rgb(97, 129, 182);
    font-weight: 300;
}